.me-image{
	background-image: url("../data/assets/me.jpg");
}
.working-learning-image{
	background-image: url("../data/assets/work-learn-fight.png");
}
.bank-al-jazira-logo{
	background-image: url("../data/assets/bank-al-jazira-logo.png");
}
.saib-logo{
	background-image: url("../data/assets/saib-logo.png");
}
.angular-image{
	background-image: url("../data/assets/angular.png");
}
.gulp-image{
	background-image: url("../data/assets/gulp.png");
}
.ionic-logo{
	background-image: url("../data/assets/ionic.png");
}
.admob-logo{
	background-image: url("../data/assets/admob-logo.png");
}
.projects-image{
	background-image: url("../data/assets/puzzle.png");
}
.freelance-image{
	background-image: url("../data/assets/RemoteMountain.jpg");
}
.innofis-image{
	background-image: url("../data/assets/innofis.png");
}
.js-image{
	background-image: url("../data/assets/js.jpg");
}
.wp-logo{
	background-image: url("../data/assets/wp-logo.png");
}
.yii-image{
	background-image: url("../data/assets/yii.png");
}
.extjs-image{
	background-image: url("../data/assets/extjs.png");
}
.solve-image{
	background-image: url("../data/assets/solve.png");
}
.sass-image{
	background-image: url("../data/assets/sass.png");
}
.less-image{
	background-image: url("../data/assets/less.png");
}
.cordova-image{
	background-image: url("../data/assets/cordova.png");
}
.grunt-image{
	background-image: url("../data/assets/grunt.png");
}
.python-image{
	background-image: url("../data/assets/python.png");
}
.calendar42-image{
	background-image: url("../data/assets/calendar42.png");
}
.innofis-image{
	background-image: url("../data/assets/innofis.png");
}
.java-image{
	background-image: url("../data/assets/java.png");
}
.rss-logo{
	background-image: url("../data/assets/rss.png");
}
.nodejs-logo{
	background-image: url("../data/assets/nodejs.png");
}
.code-logo{
	background-image: url("../data/assets/code.png");
}
.d3js-logo{
	background-image: url("../data/assets/d3js.png");
}
.tech-image{
	background-image: url("../data/assets/gear.png");
}
.check-image{
	background-image: url("../data/assets/check.png");
}
.strategy-image{
	background-image: url("../data/assets/StrategyIcon.png");
}
.frontend-image{
	background-image: url("../data/assets/frontend.png");
}
.php-logo{
	background-image: url("../data/assets/php.png");
}
.jquery-logo{
	background-image: url("../data/assets/jquery.png");
}
.ecommerce-image{
	background-image: url("../data/assets/ecommerce.png");
}
.keywords-image{
	background-image: url("../data/assets/brain-logo.png");
}
.vue-logo{
	background-image: url("../data/assets/vue.png");
}
.laravel-logo{
	background-image: url("../data/assets/laravel.png");
}
.crypto-image{
	background-image: url("../data/assets/btc.png");
}