body {
    font-size:1em; 
    font-weight:400;
    word-spacing:normal;
    letter-spacing:normal;
    text-transform:none;
    /*font-family: 'Open Sans', 'Roboto', Arial,Verdana, Courier New, monospace;*/
    font-family: 'Open Sans', sans-serif;
    font-size-adjust:.58;
    color:#000;
    background:#FFF;
    line-height:1.58em;
    border-top:0;
    border-left:0;
    border-bottom:0;
    border-right:0;
    width:auto;
    /*margin:1.58em 5% 1.58em 8%;*/
    margin: 0px;
    padding:0
}

 /* sunburst css */
#sunburst {
    font-family:'Roboto', Arial,Verdana, Courier New, monospace;
    font-size:.6em;  /* text heigh of sunburst text */
    font-weight: 400
}

 /* image is swapped in js to svg */
svg {
	 /* center the sunburst graph */
    display: block;
    margin-left: auto;
    margin-right: auto;
}